/*START General CSS Stylings*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--firstColor);
    background-color: var(--fourthColor);
}

:root {
    --firstColor: #48f4b3;
    --secondColor: #564787;
    --thirdColor: #dcd6f7;
    --fourthColor: #717568;
}

.section-title {
    font-size: 32px;
    color: var(--thirdColor);
    border-right: 3px solid var(--secondColor);
}

.general-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 400px;
}
/*END General CSS Stylings*/

/*START Site Navigation*/
header div h1 {
    font-size: 48px;
    padding: 12px 35px;
}
header {
    background-color: rgb(43, 42, 42);
}
header ul {
    align-items: center;
    list-style: none;
    text-align: right;
    padding: 20px 35px;
}

header a{
    text-decoration: none;
    font-size: 40px;
    color: var(--firstColor);
    padding: 0 25px;
    line-height: 1.3;
}
/*END Site Navigation*/

/*START Sub-Title*/

/*END Sub-Title*/

/*START About*/

/*END About*/

/*START Projects*/

/*END Projects*/

/*START Contact Info*/

/*END Contact Info*/

/*START Media Queries*/

/*END Media Queries*/